plugin: amazon.aws.aws_ec2
boto_profile: "${AWS_PROFILE}"

regions:
  - "${AWS_REGION}"

filters:
  tag:Name: "${ANSIBLE_TARGET}"
  tag:Environment: "${ENVIRONMENT_NAME}"

keyed_groups:
  - key: tags
    prefix: tag
    separator: "_"

hostnames: private-ip-address
